<form class="{{cssClass}} flexcol" autocomplete="off">
	<header class="section-header flexrow">
		<h2>{{localize "DIALOGS.SpecialDistinctions"}}</h2>
	</header>

	<section class="sheet-body flexcol">
		<div class="core-options form-group">
			<label>Experienced</label>
			<input type="checkbox" name="system.distinctions.experienced" {{checked experienced}}>
		</div>
	</section>
</form>