<form autocomplete="off" onsubmit="event.preventDefault();">
	<div class="dialog-content">
		<ol class="item-list">
			{{#each types as |modifier name|}}
			<li class="list-item flexrow">
				<label>{{modifier.label}}</label>
				<input class="flex-none" type="radio" name="type" value="{{name}}">
			</li>
			{{/each}}
		</ol>
	</div>

	<div class="dialog-buttons">
		<button class="dialog-button" data-button="submit" disabled>
			<i class="fas fa-save"></i>
			{{localize "DIALOGS.AddModifier"}}
		</button>
	</div>
</form>