<form class="flexcol">
	<header class="sheet-header flexrow">
		<h1>{{title}}</h1>
	</header>

	<div class="flexcol" autocomplete="off">
		<div class="form-group">
			<input type="text" name="value" value="{{value}}" autofocus />
		</div>
	</div>
</form>