@use './variables.scss';

.doctor-who.sheet.dialog {
	.dialog-content {
		margin-bottom: var(--margin-size-normal);
	}

	.sheet-header {
		h1 {
			font-size: 1.5em;
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	.title {
		text-align: center;
	}
}
