.doctor-who {
	font-family: var(--font-body);

	.window-content {
		background: #ddd;
		font-size: 1rem;

		h2,
		h3,
		h4 {
			margin: 0;
			border: 0;
		}
	}

	.dialog-content {
		display: flex;
		flex-direction: column;

		form {
			flex: 1;
		}
	}

	.dialog-buttons {
		flex: none;
	}

	input[type='text'],
	input[type='number'] {
		height: initial;
		padding: 0.2rem 0.3rem;
	}

	label.checkbox {
		font-size: inherit;
	}

	button {
		font-family: inherit;
	}

	.flexrow {
		align-items: center;
	}

	.flex-none {
		flex: none;
	}

	.flex-center {
		justify-content: center;
	}

	.flex-right {
		justify-content: flex-end;
	}

	a {
		&.button {
			flex: none;
			display: flex;
			align-items: center;
		}

		&:hover {
			text-decoration: underline;
			text-shadow: none;

			&.button {
				color: hsl(200, 30%, 50%);
				text-decoration: none;
			}
		}
	}

	.tabs {
		.item {
			&.active {
				font-weight: bold;
				text-shadow: none;
				pointer-events: none;
			}
		}
	}
}
