.doctor-who.sheet.gadget {
	.editor-section {
		flex: 2;
		padding-bottom: var(--margin-size-normal);
		margin-bottom: var(--margin-size-normal);
		border-bottom: 1px solid black;
	}

	.score-header {
		flex: none;
		display: flex;
		justify-content: flex-end;
		margin-bottom: var(--margin-size-normal);
	}
}
