@use './variables.scss';

.doctor-who.sheet.item {
	.form-group {
		gap: var(--margin-size-normal);
	}

	.editor-section {
		flex: 2;
		padding-bottom: var(--margin-size-normal);
		margin-bottom: var(--margin-size-normal);
		border-bottom: 1px solid black;
	}
}

.doctor-who.sheet.distinction {
	.modifiers-header {
		padding: 4px;
		border-top: 1px solid var(--color-border-light-primary);
		border-bottom: 1px solid var(--color-border-light-primary);
	}
}

.doctor-who.sheet.gadget {
	.score-header {
		flex: none;
		display: flex;
		justify-content: flex-end;
		margin-bottom: var(--margin-size-normal);
	}
}

.doctor-who.sheet.weapon {
	.damage-section {
		flex: none;
	}

	.weapon-damage {
		font-size: 1.2rem;
	}
}
