@use './variables.scss';

.doctor-who.sheet.skill {
	.skill-stats {
		flex: none;
		display: flex;
		justify-content: space-between;
		margin-bottom: var(--margin-size-normal);
	}

	.tooltips {
		flex: none;
	}
}
